/* =========== HEADER SOCIALS ===========*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 5vw;
    bottom: 2rem;
    margin-right: 2rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 10rem;
    background: var(--color-primary);
}